.devcontainer
.github
.gitattributes
.gitignore
.nvmrc
.vscode-test-web/**
.vscode/**
.yarnrc
**/.vscode-test.*
**/*.map
**/*.ts
**/eslint.config.mjs
**/tsconfig.json
dist/test/**
esbuild.js
node_modules/**
out/**
src/**
vsc-extension-quickstart.md
webpack.config.js
